<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../CSS/estilos.css">
  <link rel="shortcut icon" href="../Imagenes/FavIcon.jpg">
  <script src="https://kit.fontawesome.com/f014054ec6.js" crossorigin="anonymous"></script>

  <title>PC Builders</title>
</head>
<body>

  <!--MENU PRINCIPAL DE PC BUILDERS--> 

  <div class="menu-principal">

    <div class="logo" id="logo">
      <img src="..//Imagenes/Logo-PC-BUILDERS.png" alt="">
    </div>

    <div class="menu-navegacion" id="menu-nav">

      <i class="fas fa-angle-right" id="btnMenuClose"></i>

      <nav class="enlaces" id="enlaces">
        <ul>
          <li><a href="#">Servicio</a></li>
          <li><a href="#">Equipo</a></li>
          <li><a href="#">Contacto</a></li>
        </ul>
      </nav>

      <div class="sociales">
        <a href="#"><span class="fab fa-facebook"></span></a>
        <a href="#"><span class="fab fa-instagram"></span></a>
        <a href="#"><span class="fab fa-twitter"></span></a>
        <a href="#"><span class="fab fa-youtube"></span></a>
      </div>
      
    </div>

    <i class="fas fa-bars" id="btnMenuOpen"></i>

  </div>





  
  <script src="../JS/Sitio.js"></script>
</body>
</html>