<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../CSS/estilos.css">
  <link rel="shortcut icon" href="../Imagenes/FavIcon.jpg">
  <script src="https://kit.fontawesome.com/f014054ec6.js" crossorigin="anonymous"></script>

  <title>PC Builders</title>
</head>
<body>

    <!--BOTON DE IR HACIA ARRIBA--> 

    <div id="btn-top">
      <span class="fas fa-angle-up"></span>
    </div>


  <!--MENU PRINCIPAL DE PC BUILDERS--> 

  <div class="menu-principal">

    <div class="logo" id="logo">
      <img src="..//Imagenes/Logo-PC-BUILDERS.png" alt="">
    </div>

    <div class="menu-navegacion" id="menu-nav">

      <i class="fas fa-angle-right" id="btnMenuClose"></i>

      <nav class="enlaces" id="enlaces">
        <ul>
          <li><a href="#servicios">Servicio</a></li>
          <li><a href="#Equipo">Equipo</a></li>
          <li><a href="#Contacto">Contacto</a></li>
        </ul>
      </nav>

      <div class="sociales">
        <a href="#"><span class="fab fa-facebook"></span></a>
        <a href="#"><span class="fab fa-instagram"></span></a>
        <a href="#"><span class="fab fa-twitter"></span></a>
        <a href="#"><span class="fab fa-youtube"></span></a>
      </div>
      
    </div>

    <i class="fas fa-bars" id="btnMenuOpen"></i>

  </div>


 <!--SLIDER PRODUCTOS PREMIUM--> 

 <section id="productos">
   <div class="contenedor-principal">
     <button id="btn-izquierda"><span class="fas fa-angle-left"></span></button>

      <div class="slider">
       
        <div class="contenedor-productos">

         <div class="descripcion-productos">
            <h2>Producto <b>Premium</b></h2>
            <h1>INTEL CORE I9 11900K</h1>
            <P>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores blanditiis, ducimus, necessitatibus facere
            </P>
            <button class="btn">¡Comprar Aqui!</button>
          </div>

          <div class="imagen-productos">
            <img src="../Imagenes/Slider/CoreI9.png" alt="">
          </div>


        </div>

        <div class="contenedor-productos">

          <div class="descripcion-productos">
             <h2>Producto <b>Premium</b></h2>
             <h1>RYZEN 5950X</h1>
             <P>
               <ul>
                 <li>16 Nucleos</li>
                 <li>32 Hilos</li>
                 <li>Frecuencia basica de 3.40 GHz</li>
                 <li>Frecuencia Turbo 4,90 GHz</li>
               </ul>
             </P>
             <button class="btn">¡Comprar Aqui!</button>
           </div>
 
           <div class="imagen-productos">
             <img src="../Imagenes/Slider/Ryzen5950x.png" alt="">
           </div>
 
 
        </div>

        <div class="contenedor-productos">

          <div class="descripcion-productos">
             <h2>AORUS <b>Aterriza en PC BUILDERS</b></h2>
             <h1>AORUS RTX 3080 MASTER EDITION</h1>
             <P>
               <ul>
                 <li>16 Nucleos</li>
                 <li>32 Hilos</li>
                 <li>Frecuencia basica de 3.40 GHz</li>
                 <li>Frecuencia Turbo 4,90 GHz</li>
               </ul>
             </P>
             <button class="btn">¡Comprar Aqui!</button>
           </div>
 
           <div class="imagen-productos">
             <img src="../Imagenes/Slider/RTX3080-Aorus.png" alt="">
           </div>
 
 
        </div>

        <div class="contenedor-productos">

          <div class="descripcion-productos">
             <h2>Hyperex<b>Productos mas vendido</b></h2>
             <h1>Hyperex Cloud II 7.1</h1>
             <P>
               Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae neque eligendi earum minus iusto odit adipisci harum exercitationem, distinctio aspernatur molestias, suscipit quos asperiores, ullam accusantium velit eum ab qui?
             </P>
             <button class="btn">¡Comprar Aqui!</button>
           </div>
 
           <div class="imagen-productos">
             <img src="../Imagenes/Slider/auriculares.png" alt="">
           </div>
 
 
        </div>

      </div>
      
     <button id="btn-derecha"><span class="fas fa-angle-right"></span></button>
   </div>
 </section>
 
  <!--SECCION SERVICIOS-->
  
  <section id="servicios">
    <div class="servicios-titulos">
      <h2 class="subtitulos">El mejor Hardware lo encontras en</h2>
      <h1 class="titulos">PC BUILDERS</h1>
    </div>

    <div class="servicios-container">
      <div class="imagen-central">
        <img src="../Imagenes/Servicios/Imagencentral.png" alt="">
      </div>

      <div class="items calidad">
        <p><span class="fas fa-medal"></span></p>
        <p class="titulo-item">Calidad</p>
        <p class="texto-item">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>

      <div class="items piezas">
        <p><span class="fas fa-memory"></span></p>
        <p class="titulo-item">Piezas</p>
        <p class="texto-item">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
      
      <div class="items rapidez">
        <p><span class="fas fa-clock"></span></p>
        <p class="titulo-item">Rapidez</p>
        <p class="texto-item">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>

      <div class="items envios">
        <p><span class="fas fa-truck"></span></p>
        <p class="titulo-item">Envios</p>
        <p class="texto-item">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
    </div>
  </section>

  <!--SECCION EQUIPO-->

  <section id="Equipo">


    <div class="Persona">
      <img src="../Imagenes/Equipo/Gerardo Ventas.png" alt=""class="persona-imagen">
      <div class="persona-info">
        <h2>Martin</h2>
        <p>Area Ventas</p>
        <div class="sociales-persona">
          <a href=""><span class="fab fa-facebook"></span></a>
          <a href=""><span class="fab fa-instagram"></span></a>
          <a href=""><span class="fab fa-twitter"></span></a>
          <a href=""><span class="fab fa-linkedin-in"></span></a>
        </div>
      </div>
    </div>

    <div class="Persona">
      <img src="../Imagenes/Equipo/Romina-Vendedora.jpg" alt="" class="persona-imagen">
      <div class="persona-info">
        <h2>Romina</h2>
        <p>Area Ventas</p>
        <div class="sociales-persona">
          <a href=""><span class="fab fa-facebook"></span></a>
          <a href=""><span class="fab fa-instagram"></span></a>
          <a href=""><span class="fab fa-twitter"></span></a>
          <a href=""><span class="fab fa-linkedin-in"></span></a>
        </div>
      </div>
    </div>

    <div class="Persona">
      <img src="../Imagenes/Equipo/Manuel -ServicioTeecnico.jpg" alt="" class="persona-imagen">
      <div class="persona-info">
        <h2>Manuel</h2>
        <p>Servicio Tecnico</p>
        <div class="sociales-persona">
          <a href=""><span class="fab fa-facebook"></span></a>
          <a href=""><span class="fab fa-instagram"></span></a>
          <a href=""><span class="fab fa-twitter"></span></a>
          <a href=""><span class="fab fa-linkedin-in"></span></a>
        </div>
      </div>
    </div>

    <div class="Persona">
      <img src="../Imagenes/Equipo/Veronica-Telecomunicaiones.jpg" alt="" class="persona-imagen">
      <div class="persona-info">
        <h2>Veronica</h2>
        <p>Telecomunicaciones</p>
        <div class="sociales-persona">
          <a href=""><span class="fab fa-facebook"></span></a>
          <a href=""><span class="fab fa-instagram"></span></a>
          <a href=""><span class="fab fa-twitter"></span></a>
          <a href=""><span class="fab fa-linkedin-in"></span></a>
        </div>
      </div>
    </div>


  </section>


 <!--SECCION COMPONENTES-->

  <section id="Componentes">

    <div class="comp">
      <img src="../Imagenes/Componentes/MemoriasRam.jpg" alt="" class="imagen-comp">
      <div class="info-comp">
        <p><span class="fas fa-memory"></span></p>
        <p class="txt-comp">Memorias Ram</p>
      </div>
    </div>

    <div class="comp">
      <img src="../Imagenes/Componentes/Procesadores.jpg" alt="" class="imagen-comp">
      <div class="info-comp">
        <p><span class="fas fa-microchip"></span></p>
        <p class="txt-comp">Procesadores</p>
      </div>
    </div>

    <div class="comp">
      <img src="../Imagenes/Componentes/GraphicsCards.jpg" alt="" class="imagen-comp">
      <div class="info-comp">
        <p><span class="fas fa-gamepad"></span></p>
        <p class="txt-comp">Tarjetas de Video</p>
      </div>
    </div>

    <div class="comp">
      <img src="../Imagenes/Componentes/Motherboards.jpg" alt="" class="imagen-comp">
      <div class="info-comp">
        <p><span class="fas fa-border-all"></span></p>
        <p class="txt-comp">Placas Madre</p>
      </div>
    </div>

  </section>

 <!--SECCION DE CONTACTO-->

 <section id="Contacto">
   <div class="titulo-contacto">
     <h2 class="subtitulos">Queremos conocer tu opinion</h2>
     <h1 class="titulos">Contactanos</h1>
    </div>

    <form action="" id="formulario" >
      <div class="two-fields" >
        
        <div class="input-ConIcon">
          <input type="text" id="nombre" name="nombre" class="input-text" placeholder="Nombre">
          <i class="fas fa-user"></i>
        </div>

        
        <div class="input-ConIcon" >
          <input type="text" id="email" name="email" class="input-email" placeholder="Email">
          <i class="fas fa-envelope"></i>
        </div>

      </div>

      <div class="fiels">
        <div class="input-ConIcon textareaIcon">
          <textarea name="comentarios" id="comentarios" class="text-area" placeholder="Ingrese su mensaje"></textarea>
          <i class="fas fa-comments"></i>
        </div>
      </div>

      <div class="fiels-boton">
        <button type="submit" class="btn">Enviar</button>
      </div>


    </form>


  </section>

  <!--Alertas-->

  <div class="alertas">
    <div id="alertError" class="alert hide">
      <span class="icono-alert fas fa-exclamation-circle"></span>
      <span class="msg">Error: Campos de entrada vacios</span>
    </div>

    <div id="alertSucces" class="alert hide">
      <span class="icono-alert fas fa-check-circle"></span>
      <span class="msg">Datos enviado gracias por contactarnos</span>
    </div>
  </div>


  <!--SECCION FOOTER-->

  <footer>
    <div class="sociales-metodo">
      <i class="fas fa-map-marker-alt"></i>
      <span>Lorem ipsum dolor sit amet.</span>
    </div>

    <div class="sociales-metodo">
      <i class="fas fa-envelope"></i>
      <span>PcBuilders@hotmail.com</span>
    </div>

    <div class="sociales-metodo">
      <i class="fas fa-phone"></i>
      <span>27097616</span>
    </div>

    <div class="sociales-metodo">
      <i class="fab fa-twitter"></i>
      <span>@PcBuilders.</span>
    </div>

  </footer>




  
  <script src="../JS/Sitio.js"></script>
</body>
</html>