<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../CSS/estilos.css">
  <link rel="shortcut icon" href="../Imagenes/FavIcon.jpg">
  <script src="https://kit.fontawesome.com/f014054ec6.js" crossorigin="anonymous"></script>

  <title>PC Builders</title>
</head>
<body>

  <!--MENU PRINCIPAL DE PC BUILDERS--> 

  <div class="menu-principal">

    <div class="logo" id="logo">
      <img src="..//Imagenes/Logo-PC-BUILDERS.png" alt="">
    </div>

    <div class="menu-navegacion" id="menu-nav">

      <i class="fas fa-angle-right" id="btnMenuClose"></i>

      <nav class="enlaces" id="enlaces">
        <ul>
          <li><a href="#">Servicio</a></li>
          <li><a href="#">Equipo</a></li>
          <li><a href="#">Contacto</a></li>
        </ul>
      </nav>

      <div class="sociales">
        <a href="#"><span class="fab fa-facebook"></span></a>
        <a href="#"><span class="fab fa-instagram"></span></a>
        <a href="#"><span class="fab fa-twitter"></span></a>
        <a href="#"><span class="fab fa-youtube"></span></a>
      </div>
      
    </div>

    <i class="fas fa-bars" id="btnMenuOpen"></i>

  </div>


 <!--SLIDER PRODUCTOS PREMIUM--> 

 <section id="productos">
   <div class="contenedor-principal">
     <button id="btn-izquierda"><span class="fas fa-angle-left"></span></button>

      <div class="slider">
       
        <div class="contenedor-productos">

         <div class="descripcion-productos">
            <h2>Producto <b>Premium</b></h2>
            <h1>INTEL CORE I9 11900K</h1>
            <P>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores blanditiis, ducimus, necessitatibus facere
            </P>
            <button class="btn">¡Comprar Aqui!</button>
          </div>

          <div class="imagen-productos">
            <img src="../Imagenes/Slider/CoreI9.png" alt="">
          </div>


        </div>

        <div class="contenedor-productos">

          <div class="descripcion-productos">
             <h2>Producto <b>Premium</b></h2>
             <h1>RYZEN 5950X</h1>
             <P>
               <ul>
                 <li>16 Nucleos</li>
                 <li>32 Hilos</li>
                 <li>Frecuencia basica de 3.40 GHz</li>
                 <li>Frecuencia Turbo 4,90 GHz</li>
               </ul>
             </P>
             <button class="btn">¡Comprar Aqui!</button>
           </div>
 
           <div class="imagen-productos">
             <img src="../Imagenes/Slider/Ryzen5950x.png" alt="">
           </div>
 
 
        </div>

        <div class="contenedor-productos">

          <div class="descripcion-productos">
             <h2>AORUS <b>Aterriza en PC BUILDERS</b></h2>
             <h1>AORUS RTX 3080 MASTER EDITION</h1>
             <P>
               <ul>
                 <li>16 Nucleos</li>
                 <li>32 Hilos</li>
                 <li>Frecuencia basica de 3.40 GHz</li>
                 <li>Frecuencia Turbo 4,90 GHz</li>
               </ul>
             </P>
             <button class="btn">¡Comprar Aqui!</button>
           </div>
 
           <div class="imagen-productos">
             <img src="../Imagenes/Slider/RTX3080-Aorus.png" alt="">
           </div>
 
 
        </div>

        <div class="contenedor-productos">

          <div class="descripcion-productos">
             <h2>Hyperex<b>Productos mas vendido</b></h2>
             <h1>Hyperex Cloud II 7.1</h1>
             <P>
               Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae neque eligendi earum minus iusto odit adipisci harum exercitationem, distinctio aspernatur molestias, suscipit quos asperiores, ullam accusantium velit eum ab qui?
             </P>
             <button class="btn">¡Comprar Aqui!</button>
           </div>
 
           <div class="imagen-productos">
             <img src="../Imagenes/Slider/auriculares.png" alt="">
           </div>
 
 
        </div>

      </div>
      
     <button id="btn-derecha"><span class="fas fa-angle-right"></span></button>
   </div>
 </section>
  





  
  <script src="../JS/Sitio.js"></script>
</body>
</html>